<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">
                    Ayienda's Galeria
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">
                            Home
                        </a> 
                        <a class="nav-item nav-link" href="/admin/auth/user/add">
                            Admin
                        </a> 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View by Location</a>
                            <div class="dropdown-menu">
                                {% for location in locations %}
                                    <a class="dropdown-item" href="{% url 'location' loc=location.loc %}"><p>{{location.loc}}</p></a>
                                {% endfor %}
                        </li>
                        </div>
                        </div>                   
                    </div>
                </div>
                <div class="navbar-brand search-section">
                <div class="row">
                    <div class="col-md-12 search-form">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </nav>






    

