<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{{ url_for('main.index') }}">
                    Janga Informer
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('main.index') }}">
                            Home
                        </a> 
                        <a class="nav-item nav-link" href="{{ url_for('main.corona') }}">
                            Covid tracker
                        </a>
                        <a class="nav-item nav-link" href="{{ url_for('main.articles') }}">
                            International News
                        </a>
                        <a class="nav-item nav-link" href="{{ url_for('main.main_post') }}">
                            Local news updates
                        </a>   
                    </div>
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('main.new_post') }}">
                            New Post
                        </a>
                        {% endif %}
                         {% if current_user.is_authenticated %}
                         <a class="nav-item nav-link" href="{{url_for('auth.profile',username=current_user.username)}}">Profile</a>
                        <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                         {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('auth.login') }}">
                            Login
                        </a>
                        <a class="nav-item nav-link" href="{{ url_for('auth.register') }}">
                            Register
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>






    

