{% extends 'base.html'%}
{% block content %}
    <hr>
    <div class="container text-center">
    {% if found_results %}
      <h5>Found {{ found_results|length }} of search term {{message}}</h5>
    {% else %}
      <h5> Found 0 images for the search term {{message}}</h5>
    {% endif %}
    </div>



    <hr>
<br>
<div class="container-fluid" style="background-color: rgb(248, 248, 255)">

  <div class="card-columns">
        {% for image in found_results %}
            <div class="card border-secondary">
            <img class="card-img-top" class="img-responsive" src="{{image.pic.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200">
            </div>
        {%endfor%}
  </div>

</div>

<!-- Large modal -->
{% for image in images %}

    <!-- Modal -->
    <div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgba(, 0, 0);">
        <div class="modal-header">
            <h5  class="modal-title" id="exampleModalLongTitle">Title: {{image.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </div>

        <div class="modal-body">
            <img class="card-img-top" class="img-responsive" src="{{image.pic.url}}" size="100px200">
            <p class="card-text">Description of the photo :<hr><br> {{image.description}}.</p>
            <p class="card-text"> Location taken : {{image.image_location}}</p>
            <p class="card-text">Category : {{image.image_category}}</p>
            <hr>
            <button type="button" class="btn btn-info" onclick="copy('img{{image.id}}')">Copy Link</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
    </div>
    <script>
    function copylink(value) {
        console.log('hi yellow')
        function handler(event){
            event.clipboardData.setData('text/plain', value);
            event.preventDefault();
            document.removeEventListener('copy', handler, true);
        }
        document.addEventListener('copy', handler, true);
        document.execCommand('copy');
    }
    </script>


{%endfor%}
{% endblock %}



 
