
{%extends 'base.html'%}
{% load static %}%}
{% block content %}
    
<hr>
<br>
<div class="container-fluid" style="background-color: rgb(248, 248, 255)">

  <div class="card-columns">
        {% for image in images %}
            <div class="card border-secondary">
            <img class="card-img-top" class="img-responsive" src="{{image.pic.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200">
            </div>
        {%endfor%}
  </div>

</div>

<!-- Large modal -->
{% for image in images %}

    <!-- Modal -->
    <div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgba(, 0, 0);">
        <div class="modal-header">
            <h5  class="modal-title" id="exampleModalLongTitle">Title: {{image.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </div>

        <div class="modal-body">
            <img class="card-img-top" class="img-responsive" src="{{image.pic.url}}" size="100px200">
            <p class="card-text">Description of the photo :<hr><br> {{image.description}}.</p>
            <p class="card-text"> Location taken : {{image.image_location}}</p>
            <p class="card-text">Category : {{image.image_category}}</p>
            <hr>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">CLOSE</button>
             <button type="button" class="btn btn-info" onclick="copy('img{{image.id}}')">Copy Link</button>

        </div>
        </div>
    </div>
    </div>
    


{%endfor%}
{% endblock %}



 
